<template>
    <div v-if="loading" class="progress-table">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</template>
<script>
export default {
    props: ["loading"]
};
</script>
