<template>
    <form @submit="submit">
        <div class="row">
            <div class="col-sm-12">
                <div v-if="message" class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            </div>
            <div class="col-sm-12">
                <div class="input-group mb-2">
                    <input
                        type="text"
                        class="form-control"
                        name="email"
                        v-model="email"
                        placeholder="Email"
                    />
                </div>
            </div>
            <div class="col-sm-12">
                <div class="input-group mb-2">
                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        v-model="password"
                        placeholder="Password"
                    />
                </div>
            </div>
            <div class="col-sm-12 text-right">
                <input
                    type="checkbox"
                    id="remember"
                    v-model="remember"
                    name="remember"
                />
                <label for="remember">Remember Password &nbsp;</label>
                <button type="submit" class="btn btn-primary mb-2">
                    {{ loading ? "Logging in..." : "Login" }}
                </button>
            </div>
        </div>
    </form>
</template>
<script>
import { success, error } from "../common";
export default {
    props: ["baseUrl"],
    data() {
        return {
            email: "",
            password: "",
            remember: false,
            message: "",
            loading: false
        };
    },
    methods: {
        submit(e) {
            e.preventDefault();
            const form = new FormData(e.target);
            this.loading = true;
            axios
                .post(this.baseUrl + "/admin/login", form)
                .then(response => {
                    if (response.data.success) {
                        window.location.href = this.baseUrl;
                    } else {
                        this.message = response.data.message;
                    }
                    this.loading = false;
                })
                .catch(e => {
                    this.message = e.message;
                    this.loading = false;
                });
        }
    }
};
</script>
