<template>
    <div>
        <div style="margin-top: 20px;" class="alert alert-primary" role="alert">
            Import Employee Here
        </div>
        <form @submit="submit">
            <div class="form-row align-items-center">
                <div class="col-sm-8">
                    <div class="input-group mb-2">
                        <input
                            style="width: 100% !important;"
                            type="text"
                            class="form-control"
                            name="source"
                            value="https://jsonplaceholder.typicode.com/users"
                            v-model="source"
                            placeholder="Url"
                            v-on:change="changeKeyword($event.target.value)"
                        />
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2">
                        Import
                    </button>
                </div>
            </div>
        </form>
        <div>
            <div class="progress">
                <div
                    class="progress-bar bg-success"
                    role="progressbar"
                    :style="'width: ' + progress + '%;'"
                    :aria-valuenow="progress"
                    aria-valuemin="0"
                    aria-valuemax="100"
                >
                    {{ progress }}%
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { success, error } from "../common";
export default {
    props: ["loading", "baseUrl"],
    data() {
        return {
            source: "https://jsonplaceholder.typicode.com/users",
            progress: 0
        };
    },
    methods: {
        submit(e) {
            e.preventDefault();
            axios
                .post(
                    this.baseUrl + "/employee/import",
                    {
                        source: this.source
                    },
                    {
                        onUploadProgress: event => {
                            this.progress = (event.loaded / event.total) * 100;
                        }
                    }
                )
                .then(response => {
                    if (response.data.success) {
                        return success(response.data.message);
                    }
                    this.progress = 0;
                    return error(response.data.message);
                })
                .catch(e => {
                    this.progress = 0;
                    error(e.message);
                });
        }
    }
};
</script>
