.progress-table {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: table;
    background-color: #f6f6f6;
    z-index: 99999;
    opacity: 0.5;
}
.progress-table > .spinner-border {
    // vertical-align: middle;
    // display: table-cell;
}

.pagination-panel p {
    padding: 0;
    margin: 0;
}

.pagination-panel select {
    height: 28px !important;
}
