<template>
    <div>
        <form
            action="employee/add"
            method="POST"
            class="text-left"
            @submit="submitHandler"
        >
            <div class="form-group">
                <label>Upload Logo</label>
                <input
                    type="file"
                    class="form-control"
                    name="file"
                    id="file"
                    accept=".jpg,.jpeg,.png"
                    v-on:change="handlePhotoChange($event)"
                />
            </div>
            <div class="form-group text-center">
                <img
                    class="form-image"
                    :src="photo != '' ? photo : company.logo"
                    style="width: 50px;"
                />
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Company Name *</label>
                    <input
                        type="text"
                        class="form-control"
                        name="first_name"
                        v-model="company.name"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label>Email *</label>
                    <input
                        type="text"
                        class="form-control"
                        name="email"
                        v-model="company.email"
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Assign Employees *</label>
                    <v-select
                        multiple
                        v-model="selectedEmployees"
                        label="name"
                        :filterable="false"
                        @search="onSearchEmployee"
                        :options="employeeList"
                    >
                        <template slot="no-options">
                            type to search employee
                        </template>
                        <template slot="option" slot-scope="option">
                            <div class="d-center">
                                <img
                                    :src="option.photo"
                                    style="width: 50px !important"
                                />
                                {{ option.name }}
                            </div>
                        </template>
                        <template slot="selected-option" slot-scope="option">
                            <div class="selected d-center">
                                <img
                                    :src="option.photo"
                                    style="width: 50px !important"
                                />
                                {{ option.name }}
                            </div>
                        </template>
                    </v-select>
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">
                    {{ isEdit ? "Update" : "Save" }}
                </button>
                <button
                    type="button"
                    class="btn btn-default"
                    v-on:click="modalStatusUpdate(false)"
                >
                    Close
                </button>
            </div>
        </form>
        <loader-spinner :loading="loading"></loader-spinner>
    </div>
</template>
<style></style>
<script>
import { success, error } from "../../common";
import LoaderSpinner from "../loader-spinner";
import Vue from "vue";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";

export default {
    mounted() {
        console.log("Mounted Company add form.");
        this.selectedEmployees = this.company.employees;
    },
    props: ["baseUrl", "modalStatusUpdate", "company", "isEdit", "list"],
    data() {
        return {
            loading: false,
            photo: "",
            employeeList: [],
            selectedEmployees: []
        };
    },
    components: {
        LoaderSpinner,
        vSelect
    },
    methods: {
        openProgress() {
            this.loading = true;
        },
        closeProgress() {
            this.loading = false;
        },
        submitHandler(e) {
            e.preventDefault();
            this.openProgress();
            if (this.isEdit) {
                return this.update();
            }
            return this.add();
        },
        add() {
            const form = new FormData();
            form.append("photo", document.getElementById("file").files[0]);
            form.append("name", this.company.name);
            form.append("email", this.company.email);
            form.append(
                "employees",
                this.selectedEmployees.map(i => {
                    return i.id;
                })
            );
            axios
                .post(this.baseUrl + "/company/add", form)
                .then(response => {
                    this.closeProgress();
                    if (response.data.success) {
                        this.clearForm();
                        this.modalStatusUpdate(false);
                        this.list(1, 10);
                        return success(response.data.message);
                    }
                    return error(response.data.message);
                })
                .catch(e => {
                    this.closeProgress();
                    error(e.message);
                });
        },
        update() {
            const form = new FormData();
            form.append("photo", document.getElementById("file").files[0]);
            form.append("name", this.company.name);
            form.append("email", this.company.email);
            form.append(
                "employees",
                this.selectedEmployees.map(i => {
                    return i.id;
                })
            );
            axios
                .post(this.baseUrl + "/company/update/" + this.company.id, form)
                .then(response => {
                    this.closeProgress();
                    if (response.data.success) {
                        this.clearForm();
                        this.modalStatusUpdate(false);
                        this.list(1, 10);
                        return success(response.data.message);
                    }
                    return error(response.data.message);
                })
                .catch(e => {
                    this.closeProgress();
                    error(e.message);
                });
        },
        onSearchEmployee(search, loading) {
            loading(true);
            this.searchEmployee(loading, search, this);
        },
        handlePhotoChange(event) {
            if (event.target.files && event.target.files[0]) {
                var reader = new FileReader();

                reader.onload = e => {
                    this.photo = e.target.result;
                };

                reader.readAsDataURL(event.target.files[0]);
            }
        },
        searchEmployee: _.debounce((loading, search, vm) => {
            axios
                .get(vm.baseUrl + "/company/employee/search/" + search)
                .then(response => {
                    vm.employeeList = response.data;
                    loading(false);
                })
                .catch(e => {
                    loading(false);
                });
        }, 350),
        clearForm() {
            this.company.name = "";
            this.company.email = "";
            this.company.logo = "";
            this.selectedEmployees = [];
        }
    },
    created() {}
};
</script>
