<template>
    <div>
        <div class="row">
            <div class="col-sm-12 text-right" style="margin-bottom: 20px;">
                <a
                    href="javascript:void(0);"
                    class="btn btn-small btn-info"
                    v-on:click="addNew"
                    >Add New</a
                >
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-4">
                                Company List
                            </div>
                            <div class="col-sm-8">
                                <search
                                    :filters="filters"
                                    :search="search"
                                    :change-keyword="changeKeyword"
                                    :change-filter="changeFilter"
                                ></search>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <loader-spinner :loading="loading"></loader-spinner>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id#</th>
                                    <th>Logo</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th width="20%">
                                        <i class="fa fa-user"></i>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="company in companyList">
                                    <td>{{ company.id }}</td>
                                    <td>
                                        <img
                                            class="table-image"
                                            :src="company.logo"
                                        />
                                    </td>
                                    <td>{{ company.name }}</td>
                                    <td>{{ company.email }}</td>
                                    <td>
                                        <a
                                            href="javascript:void(0);"
                                            class="btn btn-sm btn-primary"
                                            v-on:click="edit(company.id)"
                                            >Edit</a
                                        >
                                        |
                                        <a
                                            href="javascript:void(0);"
                                            class="btn btn-sm btn-danger"
                                            v-on:click="
                                                deleteCompany(company.id)
                                            "
                                            >Delete</a
                                        >
                                    </td>
                                </tr>
                                <tr v-if="companyList.length <= 0">
                                    <td colspan="5"><b>No Record Found</b></td>
                                </tr>
                            </tbody>
                        </table>
                        <pagination
                            :lengths="lengths"
                            :changeLength="changeLength"
                            :page="page"
                            :total="rows"
                            :limit="limit"
                            :next="next"
                            :previous="previous"
                        >
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
        <b-modal no-close-on-backdrop v-model="modal" hide-footer>
            <template v-slot:modal-title>
                {{ isEdit ? "Update" : "Add new" }} Company
            </template>
            <div class="d-block text-center">
                <company-form
                    :is-edit="isEdit"
                    :company="company"
                    :baseUrl="baseUrl"
                    :modalStatusUpdate="modalStatusUpdate"
                    :list="getCompanyList"
                ></company-form>
            </div>
        </b-modal>
    </div>
</template>
<style>
img.form-image {
    width: 30% !important;
}
img.table-image {
    width: 30px !important;
}
</style>
<script>
import { BModal } from "bootstrap-vue";
import { success, error, question } from "../../common";
import CompanyForm from "./company-form.vue";
import Search from "./search.vue";
import Pagination from "./pagination.vue";
import LoaderSpinner from "../loader-spinner";
export default {
    mounted() {
        console.log("Mounted Employee Table.");
    },
    props: ["baseUrl"],
    components: {
        BModal,
        Search,
        Pagination,
        CompanyForm,
        LoaderSpinner
    },
    data() {
        return {
            isEdit: false,
            company: {},
            companyList: [],
            keyword: "",
            filter: "Name",
            filters: ["Name", "Email"],
            lengths: [10, 20, 50, 100],
            page: 1,
            rows: 0,
            limit: 10,
            loading: false,
            modal: false
        };
    },
    methods: {
        openProgress() {
            this.loading = true;
        },
        closeProgress() {
            this.loading = false;
        },
        changeFilter(filter) {
            this.filter = filter;
        },
        changeKeyword(keyword) {
            this.keyword = keyword;
        },
        modalStatusUpdate(status) {
            this.modal = status;
        },
        edit(companyId) {
            axios
                .get(this.baseUrl + "/company/get/" + companyId)
                .then(response => {
                    if (response.data.success) {
                        this.isEdit = true;
                        this.company = response.data.data;
                        return this.modalStatusUpdate(true);
                    }
                    return error(response.data.message);
                });
        },
        deleteCompany(companyId) {
            question(
                "Delete",
                "Are you sure you want to delete this company?",
                () => {
                    axios
                        .delete(this.baseUrl + "/company/delete/" + companyId)
                        .then(response => {
                            if (response.data.success) {
                                this.getCompanyList(1, this.limit);
                                return success(response.data.message);
                            }
                            return error(response.data.message);
                        });
                }
            );
        },
        getCompany(companyId) {
            axios
                .get(this.baseUrl + "/company/get/" + companyId)
                .then(response => {
                    this.modalStatusUpdate(true);
                    this.employee = response.data.data;
                })
                .catch(error => {
                    console.log(error);
                });
        },
        getCompanyList(page, limit, criteria) {
            this.openProgress();
            axios
                .post(this.baseUrl + "/company/list", {
                    criteria: criteria === undefined ? [] : criteria,
                    page: page,
                    limit: limit
                })
                .then(response => {
                    this.closeProgress();
                    this.rows = response.data.total_rows;
                    this.companyList = response.data.data;
                    this.page = page;
                })
                .catch(error => {
                    this.closeProgress();
                });
        },
        addNew() {
            this.isEdit = false;
            this.company = [];
            this.modalStatusUpdate(true);
        },
        getCriteria() {
            return {
                [this.filter]: this.keyword
            };
        },
        search(e) {
            e.preventDefault();
            this.loading = true;
            this.getCompanyList(1, this.limit, this.getCriteria());
        },
        changeLength(length) {
            this.limit = length;
            this.getCompanyList(1, length, this.getCriteria());
        },
        previous() {
            if (this.page > 1) {
                this.getCompanyList(
                    this.page - 1,
                    this.limit,
                    this.getCriteria()
                );
            }
        },
        next() {
            if (this.page * this.limit <= this.rows) {
                this.getCompanyList(
                    this.page + 1,
                    this.limit,
                    this.getCriteria()
                );
            }
        }
    },
    created() {
        this.getCompanyList(this.page, this.limit);
    }
};
</script>
