<template>
    <div>
        <form
            action="employee/add"
            method="POST"
            class="text-left"
            @submit="submitHandler"
        >
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First Name *</label>
                    <input
                        type="text"
                        class="form-control"
                        name="first_name"
                        v-model="employee.first_name"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label>Last Name *</label>
                    <input
                        type="text"
                        class="form-control"
                        name="last_name"
                        v-model="employee.last_name"
                    />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Email</label>
                    <input
                        type="text"
                        class="form-control"
                        name="email"
                        v-model="employee.email"
                    />
                </div>
                <div class="form-group col-md-6">
                    <label>Phone</label>
                    <input
                        type="text"
                        class="form-control"
                        name="phone"
                        v-model="employee.phone"
                    />
                </div>
            </div>
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">
                    {{ isEdit ? "Update" : "Save" }}
                </button>
                <button
                    type="button"
                    class="btn btn-default"
                    v-on:click="modalStatusUpdate(false)"
                >
                    Close
                </button>
            </div>
        </form>
        <loader-spinner :loading="loading"></loader-spinner>
    </div>
</template>
<style></style>
<script>
import { success, error } from "../../common";
import LoaderSpinner from "../loader-spinner";
export default {
    mounted() {
        console.log("Mounted employee add form.");
    },
    props: ["baseUrl", "modalStatusUpdate", "employee", "isEdit", "list"],
    data() {
        return {
            loading: false,
            companyRelations: [],
            photo: ""
        };
    },
    components: {
        LoaderSpinner
    },
    methods: {
        openProgress() {
            this.loading = true;
        },
        closeProgress() {
            this.loading = false;
        },
        submitHandler(e) {
            e.preventDefault();
            this.openProgress();
            if (this.isEdit) {
                return this.update();
            }
            return this.add();
        },
        add() {
            axios
                .put(this.baseUrl + "/employee/add", { ...this.employee })
                .then(response => {
                    this.closeProgress();
                    if (response.data.success) {
                        this.clearForm();
                        this.modalStatusUpdate(false);
                        this.list(1, 10);
                        return success(response.data.message);
                    }
                    return error(response.data.message);
                })
                .catch(error => {
                    this.closeProgress();
                    error(error.message);
                });
        },
        update() {
            axios
                .patch(this.baseUrl + "/employee/update/" + this.employee.id, {
                    ...this.employee
                })
                .then(response => {
                    this.closeProgress();
                    if (response.data.success) {
                        this.clearForm();
                        this.modalStatusUpdate(false);
                        this.list(1, 10);
                        return success(response.data.message);
                    }
                    return error(response.data.message);
                })
                .catch(error => {
                    this.closeProgress();
                    error(error.message);
                });
        },
        getCompanyRelations() {
            axios
                .get(this.baseUrl + "/employee/company-relation/list")
                .then(response => {
                    this.companyRelations = response.data.data;
                })
                .catch(error => {
                    console.log(error.message);
                });
        },
        handlePhotoChange(event) {
            if (event.target.files && event.target.files[0]) {
                var reader = new FileReader();

                reader.onload = e => {
                    this.photo = e.target.result;
                };

                reader.readAsDataURL(event.target.files[0]);
            }
        },
        clearForm() {
            this.employee.first_name = "";
            this.employee.last_name = "";
            this.employee.phone = "";
            this.employee.email = "";
        }
    },
    created() {
        this.getCompanyRelations();
    }
};
</script>
