<template>
    <div>
        <div class="row">
            <div class="col-sm-2">
                <select
                    class="form-control"
                    v-on:change="changeLength($event.target.value)"
                >
                    <option v-for="l in lengths">{{ l }}</option>
                </select>
            </div>
            <div class="col-sm-10 text-right">
                <a
                    href="javascript:void(0);"
                    :class="
                        'btn btn-sm btn-' +
                            (page <= 1 ? 'secondary' : 'primary')
                    "
                    v-on:click="previous"
                    >Previous</a
                >
                Page {{ page }} of {{ Math.ceil(total / limit) }}
                <a
                    href="javascript:void(0);"
                    :class="
                        'btn btn-sm btn-' +
                            (page * limit < total ? 'primary' : 'secondary')
                    "
                    v-on:click="next"
                    >Next</a
                >
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        console.log("Mounted Employee Search pagination");
    },
    props: [
        "changeLength",
        "previous",
        "next",
        "page",
        "total",
        "limit",
        "lengths",
        "rows"
    ]
};
</script>
