<template>
    <form @submit="search">
        <div class="form-row align-items-center">
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Search</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <select
                            class="form-control"
                            v-on:change="changeFilter($event.target.value)"
                        >
                            <option v-for="filter in filters">{{
                                filter
                            }}</option>
                        </select>
                    </div>
                    <input
                        type="text"
                        class="form-control"
                        name="keyword"
                        placeholder="Search"
                        v-on:change="changeKeyword($event.target.value)"
                    />
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-2">
                    Search
                </button>
            </div>
        </div>
    </form>
</template>

<script>
export default {
    mounted() {
        console.log("Mounted Employee Search");
    },
    props: ["filters", "search", "changeKeyword", "changeFilter"]
};
</script>
